DB_NAME = YOUR_DB_NAME
DB_PASSWORD = YOUR_DB_PASSWORD
DB_USER = YOUR_DB-USERNAME
JWT_SECRET = GENERATE SECRET OF YOURSELF
JWT_ACCESS_EXPIRATION = SET EXPIRATION FOR ACCESS TOKEN
JWT_REFRESH_EXPIRATION = SET EXPIRATION FOR REFRESH TOKEN